<div class="elsewhere">
	<div class="left">
		<h2>Directory</h2>
		<ul>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/uses">Uses</a></li>
			<li><a href="/philosophy">Philosophy</a></li>
		</ul>
	</div>
	<div class="right">
		<h2>elsewhere</h2>
		<ul>
			<li><a href="https://blog.verdant.ee/">Blog</a></li>
			<li><a href="https:/github.com/yingyu5658/">Github</a></li>
			<li><a href="mailto:i@glowisle.me">Email</a></li>
			<li><a href="https://akk.glowisle.me">Fediverse</a></li>
		</ul>
	</div>
</div>
